services:
  # NGINX Service
  nginx:
    image: nginx:latest
    platform: linux/arm64/v8
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - php
      - mariadb
    networks:
      - my_network

  # PHP Service
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mariadb
    networks:
      - my_network

  # MariaDB Service
  mariadb:
    image: mariadb:latest
    platform: linux/arm64/v8
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_database
      MYSQL_USER: my_user
      MYSQL_PASSWORD: my_password
    networks:
      - my_network

  phpmyadmin:
    image: phpmyadmin:latest
    platform: linux/arm64/v8
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: root_password
    ports:
      - "8080:80"
    depends_on:
      - mariadb
    networks:
      - my_network

volumes:
  mariadb_data:
    driver: local

networks:
  my_network:
    driver: bridge
